.home {
  color: white;
  width: 80%;
  margin: 150px auto;
  display: flex;
  justify-content: space-around;
}
.home__image-container {
  flex: 1;
  border: 0px solid rgba(#000, 0.2);
  display: flex;
  align-items: center;
}
.home__info {
  flex: 1;
  margin-top: 50px;
}
.home__image-container > img {
  width: 300px;
  display: block;
  margin: auto;
  border-radius: 10%;
}

.home__info > h1 {
  font-size: 4.5rem;
}
.home__info > h6 {
  font-size: 0.8rem;

  background-color: #e8e8e8;
  width: fit-content;
  padding: 5px 5px;
  color: black;
  border-radius: 2px;
  margin-bottom: 10px;
}

.home__info > p {
  line-height: 22px;
  font-size: 1.1rem;
}
.home__btn-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.btn {
  border: 2px solid white;
  width: 200px;
  padding: 5px;
  text-align: center;
  margin-left: 5px;
  background-color: #151515;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.btn:hover {
  /* background-color: white !important; */
  transform: scale(1.1);
}

@media (max-width: 576px) {
  .home {
    flex-direction: column;
    margin-top: 100px;
  }
}

@media (max-width: 950px) {
  .home {
    flex-direction: column;
  }
}
