footer {
    height: 6vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
  .icon-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
  .icon-container > span {
      margin-right: 20px
  }
  .icon {
    font-size: 30px;
    color: white;
  }