.header__container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}
li {
  list-style: none;
}
.list-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex: 5;
}
.navbar {
  background-color: #151515;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container > img {
  height: 60px;
  margin-top: 10px;
}
.navbar-list-item {
  transition: all 200ms ease-in-out;
  font-size: 1.2rem;
}
.navbar-list-item:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: wheat;
}
