.project-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-container > img {
  width: 150px;
  border-radius: 20px;
  object-fit: cover;
  display: block;
  flex: 1;
}

.project-desc-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  flex: 5;
  margin-left: 20px;
}
.project-desc-container > p {
  padding: 5px 0;
}

.project-desc {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-bottom: 10px;
}
.project-desc > div {
  padding: 5px 5px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-right: 10px;
}
.project-role {
  font-style: italic;
  margin-right: 10px;
}
.project-tech {
  display: flex;
  align-items: center;
  padding: 10px 0;
  height: auto;
}
.project-tech > p {
  margin-right: 5px;
  font-size: 1rem;
  display: inline-block;
}

.tech-container > div {
  padding: 5px 5px;
  color: black;
  border-radius: 2px;
  margin-right: 10px;
  background-color: #e8e8e8;
  margin-top: 5px;
}

.tech-container {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
}
.live-demo {
  background-color: #44d46a;
  width: fit-content;
  padding: 4px 5px;
  border-radius: 5px;
  margin-top: 3px;
  color: black;
  cursor: pointer;
}
@media (max-width: 850px) {
  .project-container {
    flex-direction: column;
  }
  .project-container > img {
    width: 40%;
    min-width: 180px !important;
  }
  .project-desc-container {
    width: 80%;
    margin-top: 15px;
  }
}
