@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #151515;
  box-sizing: border-box;
}
/* font-family: "Abril Fatface", cursive; */
a {
  text-decoration: none;
}
